 h1 {
      color: #ac2b2b;
      text-decoration: underline;
    }

    section {
      background-color: #2a2a2a;
      border: 1px solid #444;
      border-left: 5px solid #6b07ad;
      padding: 16px;
      margin: 20px auto; /* Centraliza horizontalmente e ajusta espaçamento vertical */
      border-radius: 8px;
      max-width: 800px; /* Limita a largura para manter o conteúdo centralizado */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adiciona um leve sombreamento para destacar */
    }

    code {
      background-color: #333;
      padding: 4px 6px;
      border-radius: 4px;
      font-family: monospace;
      color: #9fd9e0;
      display: block;
      margin-top: 10px;
    }

 
